version: '3.9'

services:
  sqldata:
    container_name: "sqlserver"
    hostname: "sqlserver"
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - SA_PASSWORD=Pass@word
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"
    volumes:
      - /var/mssql-data:/var/opt/mssql
  
  nosqldata:
    image: mongo:latest
    ports:
      - 27037:27017
    volumes:
      - data/db
  
  rabbitmq:
    image: rabbitmq:3-management-alpine

  ordering-api:
    build:
      context: .
      dockerfile: Dockerfile-ordering-api
    depends_on:
      - sqldata
    ports:
      - 2501:5000

  vehicle-inventory-api:
    build:
      context: .
      dockerfile: Dockerfile-vehicle-inventory-api
    depends_on:
      - sqldata
    ports:
      - 5000:5000

  configurator-api:
    build:
      context: .
      dockerfile: Dockerfile-configurator-api
    depends_on:
      - nosqldata
    ports:
      - 5001:5000






  